main[class^="chatContent-"] {
    form[class^="form-"] {
        div[class^="channelTextArea-"] {
            border: solid 1px $surface1;

            div[class^="attachedBars-"] {
                border-top: solid 1px $surface1;

                div[class^="replyBar-"],
                div[class^="threadSuggestionBar-"] {
                    background: darken($crust, 2%);
                }
            }

            svg[class*="stickerIcon-"] {
                color: var(--interactive-normal) !important;
            }
        }
    }
}

// emoji button
div[class^="channelTextArea-"] button[class*="emojiButton-"] {
    background: transparent !important;
}

// autocomplete chat textboxes
div[class*="autocomplete-"] {
    background-color: $crust !important;

    div[class*="categoryHeader"] {
        background-color: $mantle !important;
    }
    div[class*="autocompleteRowSubheading"] {
        background-color: transparent;
    }
    div[class*="autocompleteRowContentSecondary"] {
        background-color: transparent;
    }
    div[class^="usageWrapper-"] > div[class*="title-"] {
        color: $brand !important;
    }

    strong {
        color: $brand !important;
    }
}
