@use "sass:math";

@mixin theme {
    --nc-flamingo: #{$flamingo};
    --nc-pink: #{$pink};
    --nc-mauve: #{$mauve};
    --nc-red: #{$red};
    --nc-peach: #{$peach};
    --nc-yellow: #{$yellow};
    --nc-green: #{$green};
    --nc-teal: #{$teal};
    --nc-sky: #{$sky};
    --nc-sapphire: #{$sapphire};
    --nc-blue: #{$blue};

    --nc-text: #{$text};
    --nc-subtext1: #{$subtext1};
    --nc-subtext0: #{$subtext0};
    --nc-overlay2: #{$overlay2};
    --nc-overlay1: #{$overlay1};
    --nc-overlay0: #{$overlay0};
    --nc-surface2: #{$surface2};
    --nc-surface1: #{$surface1};
    --nc-surface0: #{$surface0};
    --nc-base: #{$base};
    --nc-mantle: #{$mantle};
    --nc-crust: #{$crust};

    --nc-online: #{$online};
    --nc-idle: #{$idle};
    --nc-dnd: #{$dnd};
    --nc-close: #{$close};
    --nc-close-hover: #{adjust-color($close, $lightness: -15%)};
    --nc-max: #{$max};
    --nc-max-hover: #{adjust-color($close, $lightness: -15%)};
    --nc-min: #{$min};
    --nc-min-hover: #{adjust-color($close, $lightness: -15%)};

    --header-primary: #{$text};
    --header-secondary: #{$subtext0};

    --text-normal: #{$text};
    --text-muted: #{$subtext0};
    --text-link: #{$sky};
    --text-link-low-saturation: #{$sapphire};
    --text-positive: #{$green};
    --text-warning: #{$yellow};
    --text-danger: #{$red};
    --text-brand: var(--brand-experiment);

    --background-primary: #{$base};
    --background-secondary: #{$mantle};
    --background-secondary-alt: #{darken($mantle, 3%)};
    --background-tertiary: #{$crust};
    --background-accent: var(--brand-experiment);
    --background-floating: #{darken($crust, 2%)};
    --background-nested-floating: #{$mantle};
    --background-mobile-primary: #{$base};
    --background-mobile-secondary: #{$mantle};

    --chat-background: #{$base};
    --chat-border: #{$crust};
    --chat-input-container-background: #{$base};

    --background-modifier-hover: #{adjust-color($text, $alpha: -0.85)};
    --background-modifier-selected: #{adjust-color($text, $alpha: -0.8)};
    --background-modifier-accent: #{adjust-color($text, $alpha: -0.74)};
    --background-modifier-active: #{adjust-color($text, $alpha: -0.83)};

    --info-positive-background: #{adjust-color($green, $alpha: -0.85)};
    --info-positive-foreground: #{$green};
    --info-positive-text: #{$text};

    --info-warning-background: #{adjust-color($yellow, $alpha: -0.85)};
    --info-warning-foreground: #{$yellow};
    --info-warning-text: #{$text};

    --info-danger-background: #{adjust-color($red, $alpha: -0.85)};
    --info-danger-foreground: #{$red};
    --info-danger-text: #{$text};

    --info-help-background: #{adjust-color($sky, $alpha: -0.85)};
    --info-help-foreground: #{$sky};
    --info-help-text: #{$text};

    --status-positive-background: #{$green};
    --status-positive-text: #{$crust};

    --status-warning-background: #{$yellow};
    --status-warning-text: #{$crust};

    --status-danger-background: #{$red};
    --status-danger-text: #{$text};

    --status-danger: #{$red};
    --status-positive: #{$green};
    --status-warning: #{$yellow};

    --button-danger-background: #{$red};
    --button-danger-background-hover: #{darken($red, math.div(10%, 2))};
    --button-danger-background-active: #{darken($red, math.div(15%, 2))};
    --button-danger-background-disabled: #{$red};

    --button-positive-background: #{$green};
    --button-positive-background-hover: #{darken($green, math.div(10%, 2))};
    --button-positive-background-active: #{darken($green, math.div(15%, 2))};
    --button-positive-background-disabled: #{$green};

    --button-secondary-background: #{$surface1};
    --button-secondary-background-hover: #{darken($surface1, math.div(10%, 2))};
    --button-secondary-background-active: #{darken($surface1, math.div(10%, 2))};
    --button-secondary-background-disabled: #{$surface1};

    --button-outline-danger-text: #{$text};
    --button-outline-danger-border: #{$red};
    --button-outline-danger-background: transparent;
    --button-outline-danger-background-hover: #{darken($red, math.div(5%, 2))};
    --button-outline-danger-text-hover: #{$text};
    --button-outline-danger-border-hover: #{darken($red, math.div(5%, 2))};
    --button-outline-danger-background-active: #{darken($red, math.div(10%, 2))};
    --button-outline-danger-text-active: #{$text};
    --button-outline-danger-border-active: #{darken($red, math.div(5%, 2))};

    --button-outline-positive-text: #{$text};
    --button-outline-positive-border: #{$green};
    --button-outline-positive-background: transparent;
    --button-outline-positive-background-hover: #{darken(
            $green,
            math.div(5%, 2)
        )};
    --button-outline-positive-text-hover: #{$crust};
    --button-outline-positive-border-hover: #{darken($green, math.div(5%, 2))};
    --button-outline-positive-background-active: #{darken(
            $green,
            math.div(10%, 2)
        )};
    --button-outline-positive-text-active: #{$text};
    --button-outline-positive-border-active: #{darken($green, math.div(5%, 2))};

    --button-outline-brand-text: #{$text};
    --button-outline-brand-border: var(--brand-experiment);
    --button-outline-brand-background: transparent;
    --button-outline-brand-background-hover: #{darken($brand, math.div(5%, 2))};
    --button-outline-brand-text-hover: #{$text};
    --button-outline-brand-border-hover: #{darken($brand, math.div(5%, 2))};
    --button-outline-brand-background-active: #{darken($brand, math.div(10%, 2))};
    --button-outline-brand-text-active: #{$text};
    --button-outline-brand-border-active: #{darken($brand, math.div(5%, 2))};

    --button-outline-primary-text: #{$text};
    --button-outline-primary-border: #{$surface2};
    --button-outline-primary-background: transparent;
    --button-outline-primary-background-hover: #{darken(
            $surface2,
            math.div(5%, 2)
        )};
    --button-outline-primary-text-hover: #{$text};
    --button-outline-primary-border-hover: #{darken($surface2, math.div(5%, 2))};
    --button-outline-primary-background-active: #{darken(
            $surface2,
            math.div(10%, 2)
        )};
    --button-outline-primary-text-active: #{$text};
    --button-outline-primary-border-active: #{darken($surface2, math.div(5%, 2))};

    --modal-background: #{$base};
    --modal-footer-background: #{$crust};

    --scrollbar-thin-thumb: #{$crust};
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #{$crust};
    --scrollbar-auto-track: #{adjust-color($mantle, $alpha: -0.35)};

    --scrollbar-auto-scrollbar-color-thumb: var(--brand-experiment);
    --scrollbar-auto-scrollbar-color-track: #{adjust-color(
            $mantle,
            $alpha: -0.35
        )};

    --input-background: #{$crust};
    --input-placeholder-text: #{$subtext1};

    --logo-primary: #{$text};

    --control-brand-foreground: var(--brand-experiment);
    --control-brand-foreground-new: var(--brand-experiment);

    --background-mentioned: #{adjust-color($yellow, $alpha: -0.9)};
    --background-mentioned-hover: #{adjust-color($yellow, $alpha: -0.92)};
    --background-message-hover: #{adjust-color($mantle, $alpha: -0.75)};
    --background-message-automod: #{adjust-color($rosewater, $alpha: -0.95)};
    --background-message-automod-hover: #{adjust-color($rosewater, $alpha: -0.9)};
    --background-message-highlight: #{adjust-color($brand, $alpha: -0.9)};
    --background-message-highlight-hover: #{adjust-color($brand, $alpha: -0.92)};

    --channels-default: #{darken($subtext0, 5%)};
    --channel-icon: #{darken($subtext0, 5%)};
    --channel-text-area-placeholder: #{adjust-color($text, $alpha: -0.5)};
    --channeltextarea-background: #{$mantle};

    --activity-card-background: #{$crust};

    --textbox-markdown-syntax: #{$overlay0};

    --spoiler-revealed-background: #{$surface0};
    --spoiler-hidden-background: #{$surface2};

    --android-navigation-bar-background: #{$crust};
    --android-ripple: #{adjust-color($crust, $alpha: -0.7)};

    --deprecated-card-bg: #{adjust-color($crust, $alpha: -0.4)};
    --deprecated-card-editable-bg: #{adjust-color($crust, $alpha: -0.7)};

    --deprecated-store-bg: #{$base};
    --deprecated-quickswitcher-input-background: #{darken(
            $surface2,
            math.div(10%, 2)
        )};
    --deprecated-quickswitcher-input-placeholder: #{adjust-color(
            $crust,
            $alpha: -0.7
        )};
    --deprecated-text-input-bg: #{$crust};
    --deprecated-text-input-border: #{adjust-color($crust, $alpha: -0.7)};
    --deprecated-text-input-border-hover: #{darken($crust, math.div(10%, 2))};
    --deprecated-text-input-border-disabled: #{$mantle};
    --deprecated-text-input-prefix: #{$subtext0};

    --focus-primary: var(--brand-experiment);

    --interactive-normal: #{$text};
    --interactive-muted: #{adjust-color($text, $alpha: -0.7)};
    --interactive-hover: #{$text};
    --interactive-active: #{$text};
}

@if $theme == light {
    .theme-light {
        @include theme;
    }
} @else if $theme == dark {
    .theme-dark {
        @include theme;
    }
}
