// color scheme is most similar to catppuccin frappe?
// appears to be more vibrant?

$rosewater: #f2d5cf;
$flamingo: #ffa994;
$pink: #ff55aa;
$mauve: #e357ff;
$red: #ff5754;
$maroon: #ff94a2;
$peach: #ffae54;
$yellow: #ffdd59;
$green: #57ff78;
$teal: #57ffc8;
$cyan: #95fff0;
$sky: #58e0fe;
$sapphire: #57c3ff;
$blue: #5789ff;
$lavender: #bb94ff;

// why did they choose pure white...
$text: #ffffff;
$subtext1: #e3e3e8;
$subtext0: #c0bfcb;

$overlay2: #8f8ca0;
$overlay1: #848196;
$overlay0: #78748c;

$surface2: #6a6681;
$surface1: #665f7d;
$surface0: #5a5473;

$base: #4e4869;
$mantle: #3d3659;
$crust: #312d4a;
