div[class*="titleBar-"] {
    // windows exclusive
    &[class*="typeWindows-"] {
        &[class*="withFrame-"] {
            height: 24px;
            padding: 0 4px;
        }

        div[class*="winButton-"] {
            margin: 7px 0 0 12px;
            height: 14px;
            width: 14px;
            border-radius: 50%;

            svg * {
                fill: transparent;
                stroke: transparent;
            }
        }

        div[class^="winButtonClose-"] {
            background-color: var(--nc-close);
            margin-right: 8px;

            &:hover {
                background-color: var(--nc-close-hover);
            }
        }

        div[class^="winButtonMinMax-"] {
            &:nth-child(3) {
                background-color: var(--nc-min);

                &:hover {
                    background-color: var(--nc-min-hover);
                }
            }

            &:nth-child(4) {
                background-color: var(--nc-max);

                &:hover {
                    background-color: var(--nc-max-hover);
                }
            }
        }

        // goodbye discord logo
        div[class^="wordmarkWindows-"] {
            svg {
                display: none;
            }
        }

        &::before {
            content: "Nightcord";
            font-weight: 800;
            font-size: 0.85em;
            position: absolute;
            top: 8px;
            left: 10px;
            color: var(--text-muted);
            width: auto;
        }
    }
}
