[class*="lookFilled-"] {
    &[class*="colorLink-"],
    &[class*="colorYellow-"],
    &[class*="colorRed-"],
    &[class*="colorBrand-"],
    &[class*="colorBrandNew-"],
    &[class*="colorPrimary-"] {
        color: $text;

        // darken the nitro button too
        // svg[class^="premiumIcon"] {
        //     color: darken($pink, 20%);
        // }
    }

    &[class*="colorBrandNew-"],
    &[class*="colorBrand-"] {
        background-color: $brand;
    }

    &[class*="colorGreen-"] {
        color: $crust;
    }
}

// buttons in calls
// button {
//     &[class*="white"] {
//         background: $surface0;
//         svg * {
//             fill: $text;
//         }
//     }

//     &[class*="primaryDark"] {
//         background: $base;
//         svg * {
//             fill: $text;
//         }
//     }

//     &[class*="red"] {
//         background: $red;
//         svg * {
//             fill: $base;
//         }
//     }
// }

// lookInverted buttons should have darker brand text
[class*="lookInverted-"][class*="colorBrand-"] {
    color: var(--brand-experiment-600);

    // darken the nitro button too
    svg[class^="premiumIcon"] {
        color: darken($pink, 15%);
    }
}

// lookLink + colorPrimary should be themed
.theme-dark,
.theme-light {
    [class*="lookLink-"][class*="colorPrimary-"] {
        color: $text;
    }
}
