nav[class*="guilds-"] {
    // server icons
    foreignObject > div[data-list-item-id^="guildsnav_"] {
        background-color: lighten($mantle, 6%);
    }

    // lightens home nav bg
    div[data-list-item-id="guildsnav___home"] {
        --background-primary: #{lighten($mantle, 7%)};
    }

    // lightens folder wrapper bg
    span[class^="expandedFolderBackground-"] {
        background-color: lighten($mantle, 7%);
    }
    div[class^="folder-"][class*="hover-"] {
        background-color: lighten($mantle, 14%);
    }

    // home icon
    [data-list-item-id="guildsnav___home"] {
        svg[class^="homeIcon-"] {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{str-slice(inspect($text), 2)}' viewBox='172.3 169 667.59 666.93'%3E%3Cpath d='M839.88,498.33C836.41,597.16,802,678,733.48,743.4c-50.3,48-110.29,77.38-178.9,88.38-78.6,12.6-151.76-4-219.18-45C253.62,737,201.92,664.49,180.6,571.45c-20.23-88.28-2.81-170.83,45.58-246.52,50.72-79.32,123.26-129,215.15-148.58,92.93-19.8,178.45,1.07,255.31,55.33,77.14,54.47,122.94,129.61,138.43,222.85C837.72,470.43,838.63,486.61,839.88,498.33ZM584.51,254.09c-15.54,1.61-31.25,2.23-46.58,5C461,272.87,402.78,314.13,364.2,381.85c-30.55,53.62-38,111.92-27.16,172.07,14.7,81.39,59.92,141.22,133.65,178.43C527.57,761.06,588.22,766,649.16,750.1c88.5-23.07,147.26-79.87,175.61-166.91,13-39.78,14-80.86,7.29-122.05-8.95-54.6-33.78-101.08-74-138.82C709.44,276.72,651.12,255.12,584.51,254.09Z M498.39,548.53C479.6,546.93,461,533,456.17,511.71c-3.38-15.07,3.85-26.8,13.89-37,6.56-6.63,14.77-11.34,24.05-12.1a40.12,40.12,0,0,1,18.31,2.95c16.06,6.86,26.16,19.25,28.63,36.76.66,4.66-.53,9.94-2.13,14.49A47.84,47.84,0,0,1,498.39,548.53Z M679.75,461.81c19.26,1.58,38.93,15.78,43.09,38.5,2.65,14.43-4.36,26-14.38,35.39C683.61,558.92,646.14,546,638,511.8c-2.39-10.06.88-18.73,5.87-27C652.22,471.15,664.67,463.75,679.75,461.81Z'%3E%3C/path%3E%3C/svg%3E")
                center/cover no-repeat;
            min-width: 48px;
            min-height: 48px;
            transform: scale(0.7);

            path {
                fill: transparent;
            }
        }
    }
}

// server list icons
div[class^="upperBadge"] {
    > div[class^="iconBadge"] {
        path {
            color: $text;
        }
    }

    div[class*="participating-"] {
        background: $green;
    }
}
