div[class^="sidebarRegion-"] {
    div[class^="premiumTab-"] {
        > div > svg > path {
            fill: $pink;
        }
    }
}

div[class^="contentRegion-"] {
    #appearance-tab,
    #accessibility-tab,
    [id="voice-&-video-tab"] {
        [class^="bar-"],
        [class^="markDash-"] {
            background: $surface1;
        }
    }

    [id="privacy-&-safety-tab"] {
        div[class^="radioBar-"] {
            &[style*="hsl(139,"] {
                border-color: $green;
            }

            &[style*="hsl(37,"] {
                border-color: $yellow;
            }

            &[style*="hsl(359,"] {
                border-color: $red;
            }
        }
    }

    #nitro-server-boost-tab {
        circle[class^="circleProgress-"] {
            color: $pink;
        }

        div[class*="gemIndicatorContainer-"] {
            background-color: $base;

            div[class^="tierLabel-"] {
                color: $subtext1;
            }
        }
    }

    #subscriptions-tab {
        [class^="sectionAccountCredit-"],
        [class^="subscriptionDetails-"] {
            border-color: var(--background-modifier-accent);
        }
    }

    #library-inventory-tab {
        div[class^="promotionIcon-"] {
            background-color: $base;
        }
    }

    #billing-tab {
        [class*="Divider"] {
            border-color: var(--background-modifier-accent);
        }

        div[class^="defaultIndicator-"] {
            color: $text;
            background-color: $surface2;
        }

        div[class*="summaryInfo"],
        [class^="paymentHeader-"] {
            color: $text;
            border-color: var(--background-modifier-accent);
        }

        div[class^="paymentPane-"],
        div[class*="paginator-"],
        div[class*="payment-"] {
            background-color: $surface0;
            color: $text;
        }

        div[class^="expandedInfo-"] {
            background-color: $surface1;
        }

        [class*="paymentText-"] {
            color: $subtext1;
        }

        div[class^="codeRedemptionRedirect-"] {
            background-color: $mantle;
            color: $text;
            border-color: $surface0;
        }
    }

    [id="voice-&-video-tab"] {
        div[class^="backgroundOptionRing-"] {
            border-color: $brand;
        }
    }

    #keybinds-tab {
        div[class^="keybindShortcut-"] > span[class^="key-"] {
            color: $crust;

            svg > g {
                fill: $crust;
            }
        }
    }

    #game-activity-tab {
        div[class*="nowPlayingAdd-"],
        div[class*="lastPlayed-"],
        div[class*="overlayStatusText-"] {
            color: var(--text-muted);
        }

        div[class*="activeGame-"][class*="nowPlaying"] * {
            color: $crust;

            svg > g > path {
                fill: $crust;
            }
        }

        input[class^="gameName-"] {
            color: $text;
        }

        input[class*="gameNameInput-"] {
            &:hover,
            &:focus {
                background-color: $mantle;
                border-color: #{adjust-color($mantle, $alpha: -0.7)};
            }
        }

        div[class*="game-"] {
            -webkit-box-shadow: 0 1px 0 0 var(--background-modifier-accent);
            box-shadow: 0 1px 0 0 var(--background-modifier-accent);
        }
    }

    #overlay-tab {
        label[class^="disabled-"] {
            color: $overlay0;
        }

        label[class*="option-"]:not([class*="selected-"]) {
            color: $overlay0;
            background-color: $overlay0;
        }
    }

    // Voice & Audio checks
    section[class^="inputSensitivityToggle-"] {
        div[class*="speaking-"] {
            background: $green !important;
        }
    }

    div[class*="reactionMe-"] {
        background-color: $surface0 !important;
    }

    // toggles in preferencs
    // checked
    div[class^="control-"] > div[class*="checked-"],
    div[class^="sensitivity-"] div[class*="checked-"] {
        background-color: darken($green, 35) !important;
    }

    // unchecked
    div[class^="control"] {
        > div[style*="background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%)"] {
            background-color: $surface2 !important;
        }
    }
}

.bd-settings-title {
    color: $text;
}

.bd-switch {
    &-body {
        --switch-color: #{$surface2};
    }

    input:checked + .bd-switch-body {
        --switch-color: #{$green};

        svg.bd-switch-symbol path {
            fill: darken($green, 40%);
        }
    }
}

.bd-button {
    background-color: $brand;
    color: $text;

    &.bd-button-danger {
        background-color: $red;
    }
}

.bd-controls > .bd-addon-button svg {
    fill: $text;
}

.bd-addon-views .bd-view-button.selected {
    background-color: $brand;

    svg {
        fill: $text;
    }
}
